<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bear Haus</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
</head>
<body>
<nav class="navbar" id="top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><h1>bear haus</h1></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="button">
                    <a class="target-burger">
                        <ul class="buns">
                            <li class="bun"></li>
                            <li class="bun"></li>
                        </ul>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="overlay">
    <div class="container info">
        <div class="row ">
            <div class="col-md-4 about">
                <h2>About</h2>
                <h4>We are a design collective based out of
                    Seattle, WA who are passionate about
                    good design. <br>
                    <br>
                    We work to create visual design that is
                    intriguing, engaging, and effective for
                    whomever the audience may be.
                    <br>
                </h4>
                <a href="views/team.html"><b>Meet our Team</b></a>
            </div>
            <div class="col-md-4 work">
                <a href="views/work.html"><h2>Our Work</h2></a>
                <h4>A collection of our creative solutions.</h4>
            </div>
            <div class="col-md-4 contact">
                <h2>Contact</h2>
                <h4>Want us involved in your next project?<br>
                    Drop us a line at
                    <a href="mailto:hi@bear.haus"><b><u>hi@bear.haus</u></b></a></h4>
            </div>
            <div class="col-xs-12" id="footer">
                <h6><a href="../index.html">bear haus</a> Copyright 2017. <a href="../views/legal/cookies.html">Cookies.</a> <a href="./views/legal/terms.html">Terms and Conditions</a>. </h6>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="../js/index.js"></script>
</body>

</html>